Newsletter workflow.json
{
  "name": "Newsletter workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -416
      ],
      "id": "7a0382bc-d9d2-46df-b30d-8365d359a73f",
      "name": "Webhook",
      "webhookId": "b9247849-fec1-4375-857e-a24dcf3cd92b"
    },
    {
      "parameters": {
        "toolDescription": "Google search ",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "67f8d638f438fa03222463a84dc8efbd685970521fd27bf3bbce26bdf508fd63"
            },
            {
              "name": "=q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        784,
        -336
      ],
      "id": "38dcf5a3-8f65-448d-a19f-fe580d532667",
      "name": "SerpApi"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1472,
        -288
      ],
      "id": "50bdb601-3b34-4165-ac54-88841513eb85",
      "name": "Send a message in Gmail",
      "webhookId": "ed780561-18fb-4441-b581-63599a8ae810",
      "credentials": {
        "gmailOAuth2": {
          "id": "aD23atByAo3KSg40",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd3d6282-a7c1-4b1a-bc48-5044e3d67585",
              "leftValue": "={{ $json.output }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -416
      ],
      "id": "af99c1bf-f763-4917-a069-d404723bdfa7",
      "name": "If"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        -240
      ],
      "id": "5bbb3c15-0d1b-4ea6-b949-a321aa30fc48",
      "name": "chat model",
      "credentials": {
        "openRouterApi": {
          "id": "uT71WsfqJFYZpN13",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.text }}",
        "options": {
          "systemMessage": "You are newsletter agent. You are part of newsletter generation workflow. Your job is to figure out if user input is asking for news on certain topic, in this case respond with \"yes\". If user input is something unrelated, respond with \"no\". OUTPUT FORMAT SHOULD be strictly yes or no."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        -416
      ],
      "id": "374fec88-e390-4156-b0ff-cd3b03ec5cc9",
      "name": "Input validating agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Failed",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        -256
      ],
      "id": "78369fe4-9085-4dbe-94aa-d558e6c19d66",
      "name": "Error response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Webhook complete",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1616,
        -544
      ],
      "id": "8d409061-4937-420d-af1f-9869a79aa95c",
      "name": "Success response"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.text }}",
        "options": {
          "systemMessage": "# Role\nYou are an expert Senior News Researcher. Your sole responsibility is to gather accurate, up-to-date information for a professional newsletter. You work for an Editor who needs raw facts, not a finished story.\n\n# Objective\nThe user will provide a topic (e.g., \"Tesla Stock\" or \"AI safety\"). You must use your Search Tool to find the latest developments, news articles, and data from the past 7 days.\n\n# Instructions\n1.  **ALWAYS Search First:** Do not answer from your own memory. You must trigger the Search Tool to get real-time data.\n2.  **Focus on \"New\":** Prioritize articles from the last 24-48 hours. If nothing is found, look at the last week.\n3.  **Diverse Sources:** Look for multiple angles (e.g., financial numbers, product launches, official statements).\n4.  **Cite Everything:** You must keep the URL (Source Link) for every fact you find. The Editor needs this for citations.\n5. If no news topic is specified, choose political news by default\n\n# Output Format\nDo NOT write the newsletter. Instead, provide a **Structured Research Brief** in the following format:\n\n## [Topic Name] - Research Brief\n*   **Headline:** [Title of the news item]\n    *   **Date:** [Publication Date]\n    *   **Key Fact:** [1-2 sentences summarizing the specific event or number]\n    *   **Source:** [URL]\n\n*   **Headline:** [Next item...]\n    *   ...\n\n# Constraints\n*   If the search returns no results, state: \"No recent news found for this topic.\"\n*   Do not add your own opinions.\n*   Do not write \"Hello\" or conversational filler. Output the Research Brief directly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        -544
      ],
      "id": "9831138f-22c2-4976-a810-5b12cfb474b2",
      "name": "News research agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "# Role\nYou are an expert Newsletter Editor and Copywriter. You write in the style of top-tier daily newsletters (like Morning Brew or The Hustle). Your writing is punchy, concise, and professional.\n\n# Objective\nTake the provided \"Research Brief\" and transform it into a clean, engaging email draft. \n\n# Input Data\nYou will receive a list of facts, dates, and source URLs from the Researcher. Use ONLY this information. Do not invent new news.\n\n\n# Content Structure\n1.  **Catchy Greeting:** A brief, 1-sentence welcome based on the topic.\n2.  **The Deep Dive:** Group the research into 1-3 clear stories or sections. Write a short summary for each.\n3.  **Bulleted Takeaways:** If there are numbers or quick facts, use bullet points.\n4.  **Sign-off:** A professional closing.\n\n# Tone Guidelines\n*   Be direct. Avoid \"fluff\" words.\n*   Make it sound human, not robotic.\n*   If the research contains negative news, maintain a neutral, objective tone.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        -544
      ],
      "id": "37d0e9aa-3617-4b71-8069-c74d3cef77c3",
      "name": "Newsletter writer agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "using google tool read list of recipients, using gmail tool send email with newsletter content. Newsletter content will be given to you as a user promt. Pretify newsletter with html tags so that it is not just a wall of text.\n\nthis is a sample data that should be sent to gmail tool \n\n\"Subject: This Week in the U.S.: Syria Conflict, School Shooting, Historic Heisman Win, and More\\n\\nGood day,\\n\\nHere’s a concise update on key U.S. events shaping the week.\\n\\n**1. Military Losses in Syria and U.S. Response**  \\nTwo U.S. soldiers and an American civilian interpreter were killed in central Syria during a counter-ISIS operation. In response, President Trump has vowed retaliation, signaling intensified action in the region.  \\n(Source: NBC News)\\n\\n**2. Tragedy at Brown University**  \\nA shooting at Brown University resulted in two deaths and nine injuries, raising urgent concerns about gun violence and campus safety nationwide.  \\n(Source: Google News)\\n\\n**3. Sports Milestone for Indiana and Ongoing Rescue Efforts in California**  \\nFernando Mendoza made history as the first Indiana Hoosier to win the Heisman Trophy, earning 2,362 first-place votes. Meanwhile, emergency teams continue searching for seven people missing after a fireworks factory explosion in California.  \\n(Sources: CBS News, The New York Times)\\n\\n**Quick Takeaways:**  \\n- 3 U.S. personnel killed recently in Syria military operation  \\n- 2 dead, 9 injured in university shooting incident  \\n- Mendoza’s historic Heisman win marks a first for Indiana  \\n- 7 missing in California following fireworks factory blast  \\n\\nStay informed as these stories evolve.\\n\\nBest,  \\n[Your Name]  \\n[Your Newsletter Name]\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        -544
      ],
      "id": "db52f793-cb2b-4f67-bb8e-d7a94b76b97a",
      "name": "Email sending agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1VGll6IV622UPdRGqXbttt8rx6B6WOTFVUEIQgIwLSfE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lapas1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VGll6IV622UPdRGqXbttt8rx6B6WOTFVUEIQgIwLSfE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1296,
        -288
      ],
      "id": "35146978-2412-4a21-b0e6-9935f968ec59",
      "name": "Recipients list",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gmAgr9nqpCooued0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1088,
        -288
      ],
      "id": "2763485b-8b0b-4f11-b4e9-8fe445160691",
      "name": "chat model1",
      "credentials": {
        "openRouterApi": {
          "id": "uT71WsfqJFYZpN13",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        -304
      ],
      "id": "f2f85874-df4d-410b-9692-64fe461e7af9",
      "name": "chat model2",
      "credentials": {
        "openRouterApi": {
          "id": "uT71WsfqJFYZpN13",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        -336
      ],
      "id": "c5a37d8e-c9ea-4316-a871-4116b3d68db1",
      "name": "chat model3",
      "credentials": {
        "openRouterApi": {
          "id": "uT71WsfqJFYZpN13",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input validating agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi": {
      "ai_tool": [
        [
          {
            "node": "News research agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email sending agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "News research agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat model": {
      "ai_languageModel": [
        [
          {
            "node": "Input validating agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input validating agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success response": {
      "main": [
        []
      ]
    },
    "News research agent": {
      "main": [
        [
          {
            "node": "Newsletter writer agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter writer agent": {
      "main": [
        [
          {
            "node": "Email sending agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email sending agent": {
      "main": [
        [
          {
            "node": "Success response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipients list": {
      "ai_tool": [
        [
          {
            "node": "Email sending agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "chat model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email sending agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chat model2": {
      "ai_languageModel": [
        [
          {
            "node": "Newsletter writer agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chat model3": {
      "ai_languageModel": [
        [
          {
            "node": "News research agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d80e5d3-3a61-44a1-a050-ecedc69cac77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aaa8581d8575dd5835dae5ea432eda65ae464450a21769c4cff4ab4f006e46a"
  },
  "id": "MkGi63rBdGTJAIon",
  "tags": []
}